@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-links {
  display: flex;
  gap: 15px;
}

.right-links {
  display: flex;
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.input {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #eeeeee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: slategray;
}